	/*
  	Flaticon icon font: Flaticon
  	Creation date: 09/11/2016 17:21
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
  font-size: 14px;
  font-style: normal;
  /*margin-left: 20px;*/
}

.flaticon-analytics:before { content: "\f100"; }
.flaticon-archives:before { content: "\f101"; }
.flaticon-bank:before { content: "\f102"; }
.flaticon-contract:before { content: "\f103"; }
.flaticon-contract-1:before { content: "\f104"; }
.flaticon-delivery:before { content: "\f105"; }
.flaticon-exchange:before { content: "\f106"; }
.flaticon-exchange-1:before { content: "\f107"; }
.flaticon-exchange-2:before { content: "\f108"; }
.flaticon-foreign-currency-exchange:before { content: "\f109"; }
.flaticon-hierarchical-structure:before { content: "\f10a"; }
.flaticon-hierarchical-structure-1:before { content: "\f10b"; }
.flaticon-hierarchical-structure-2:before { content: "\f10c"; }
.flaticon-invoice:before { content: "\f10d"; }
.flaticon-invoice-1:before { content: "\f10e"; }
.flaticon-light-bulb:before { content: "\f10f"; }
.flaticon-money:before { content: "\f110"; }
.flaticon-networking:before { content: "\f111"; }
.flaticon-networking-1:before { content: "\f112"; }
.flaticon-networking-2:before { content: "\f113"; }
.flaticon-networking-3:before { content: "\f114"; }
.flaticon-networking-4:before { content: "\f115"; }
.flaticon-package:before { content: "\f116"; }
.flaticon-safebox:before { content: "\f117"; }
.flaticon-settings:before { content: "\f118"; }
.flaticon-speech-bubble:before { content: "\f119"; }
.flaticon-stats-document:before { content: "\f11a"; }
.flaticon-tactics:before { content: "\f11b"; }
.flaticon-talking-about-money:before { content: "\f11c"; }
.flaticon-tax:before { content: "\f11d"; }
.flaticon-transfer:before { content: "\f11e"; }