.settings
.classpath
.project
*.jasper
target
*.jasper
/tekir-core-model/target/
/tekir-core/target/
/tekir-web/target/
/tekir-contact-model/target/
/tekir-activity-model/target/
/tekir-contact/target/
/tekir-feed-model/target/
/tekir-feed/target/
/tekir-activity/target/
/tekir-voucher-model/target/
/tekir-opportunity-model/target/
/tekir-voucher/target/
/tekir-opportunity/target/
/tekir-quote-model/target/
/tekir-order-model/target/
/tekir-quote/target/
/tekir-commodity-model/target/
/tekir-commodity/target/
/tekir-voucher/nbproject/
/tekir-account-notes-model/target/
/tekir-account-notes/target/
/tekir-opportunity-quote-linker/target/
/tekir-order/target/
/tekir-quote-order-linker/target/
/tekir-invoice-model/target/
/tekir-invoice/target/
/tekir-order-invoice-linker/target/
/tekir-payment/target/
/tekir-payment-model/target/
/tekir-invoice-payment-linker/target/
/tekir-finance/target/
/tekir-finance-model/target/
/tekir-lead-opportunity-linker/target/
/tekir-activity/nbproject/
/tekir-contact/nbproject/
