.tekir-tag {
    background-color: #186ba0;
    border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    margin-top: 2px;
}