.tag-filter {
    width: 100%;
    border-radius: 0;
    height: 30px;
    font-weight: normal;
}

.tag-filter .ui-selectcheckboxmenu-trigger {
    width: 2.2em !important;
    background-color: #f4f4f4;
}

.tag-filter .ui-selectcheckboxmenu-trigger .ui-icon{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: 8px !important;
    margin-left: 8px !important;
}

.tag-filter-panel{
    background-color: #ffffff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1) !important;
}



